// Give your color variables their correct name: http://chir.ag/projects/name-that-color

$transparent:           rgba(255, 255, 255, 0);
$black:                 #000000;
$white:                 #FFFFFF;
$bittersweet:           #FF7376
