//FONTS
@font-face {
    font-family: 'Example Font';
    src: url('Example-Bold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Example Font';
    src: url('Example-BoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Example Font';
    src: url('Example-Italic.otf') format('opentype');
    font-weight: 300;
    font-size: italic;
}
@font-face {
    font-family: 'Example Font';
    src: url('Example-Regular.otf') format('opentype');
    font-weight: 300;
}

@mixin font-garamond-pro {
    font-family: 'Example Font', 'Times New Roman', Times, serif;
}
