// Media queries
@mixin mobile {
     @media (max-width: 550px){
        @content;
    }
}
@mixin tablet {
     @media (max-width: 768px){
        @content;
    }
}
@mixin tablet-reverse {
     @media (min-width: 769px){
        @content;
    }
}
@mixin desktop {
     @media (max-width: 1280px){
        @content;
    }
}

// User select
@mixin user-select {
    cursor: pointer;
    user-select: none;
}
