{% block html_head_container %}
    {% include 'components/base/html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">

            {% block header %}
                {% include 'components/header/header.twig' %}
            {% endblock %}

        <section id="content" role="main" class="content-wrapper">

            {% block content %}
            {% endblock %}

        </section>

        {% block footer %}
            {% include 'components/footer/footer.twig' %}
            {{ function('wp_footer') }}
        {% endblock %}

        {% if constant('BROWSER_SYNC') %}
            {% include 'components/base/browserSync.twig' %}
        {% endif %}


    </body>
</html>
